<launch>
  <node pkg="rpg_open_remode" type="depthmap_node" name="remode" clear_params="true" output="screen">

    <param name="cam_width" value="1280" />
    <param name="cam_height" value="1024" />

    <param name="cam_fx" value="2243.414282" />
    <param name="cam_cx" value="690.730441" />
    <param name="cam_fy" value="2242.723401" />
    <param name="cam_cy" value="542.850734" />

    <param name="cam_k1" value="-0.201648" />
    <param name="cam_k2" value="0.176623" />
    <param name="cam_r1" value="0.005094" />
    <param name="cam_r2" value="0.005233" />

    <param name="ref_compl_perc" value="40.0" />
    <param name="max_dist_from_ref" value="0.5" />
    <param name="publish_conv_every_n" value="3" />
  </node>   
</launch>
